.App {
    text-align: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #143d59;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .links {
    font-size: 2em;
}

a {
    color: #fff;
    text-decoration: none;
    padding: 2em;
}

a:hover {
    color: #f4b41a;
    cursor: pointer;
}